/Aula07 - (Swing) OperadoresSwing/build/
/Aula07 - (Swing) OperadoresSwing/nbproject/private/
/(Swing) Aula06 - Soma/build/
/(Swing) Aula06 - Soma/nbproject/private/
/(Swing) Aula07 - OperadoresSwing/build/
/(Swing) Aula07 - OperadoresSwing/nbproject/private/
/Aula07 - ClasseMath/build/
/(Swing) Aula07 - Operadores/nbproject/private/
/(Swing) Aula07 - Operadores/build/
